.blogBox {
  border: 2px solid whitesmoke;
  text-align: center;
  height: 350px;
  width: 550px;
  overflow: auto;
  margin-bottom: 20px;
}

h4 {
  margin-top: 5px;
  font-weight: bold;
}

#postedBy {
  text-align:left;
  background-color: brown
}