* {
  box-sizing: border-box;
}

nav {
  border-bottom: 2px solid #281c25;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


.navLog {
  margin-right: 5px;
  margin-left: 10px;
}

main {
  padding-top: 50px;
  background-color: #282c34;
  color: whitesmoke;
  min-height: calc(100vh - 50px);
}

.blogs {
  max-width: 800px;
  margin-left: calc(22.5vw);
  display: flex;
}

.blogContainer {
  display: flexbox;
  justify-content: center;
  align-items: center;
  float:left;
}

aside {
  display: flex;
  border: 2px solid whitesmoke;
  width: calc(100vw - 80%);
  height: calc(100vh - 40%);
  overflow: auto;
  float:right
}

#foot {
  text-align: center;
  background-color: rgb(33, 37, 41);
  color: whitesmoke;
  position: static;
  height: 50px;
  border-top: 2px solid #281c25;
}