* {
  box-sizing: border-box;
}

nav {
  border-bottom: 2px solid #281c25;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


.navLog {
  margin-right: 5px;
  margin-left: 10px;
}

main {
  padding-top: 50px;
  background-color: #282c34;
  color: whitesmoke;
  min-height: calc(100vh - 55px);
  display:flex;
}

.blogs {
  max-width: 800px;
  max-height: 900px;
  margin-left: calc(22.5vw);
  display: flexbox;
  overflow: auto;
}

.blogContainer {
  align-items: center;
}

aside {
  display:inline-flex;
  border: 2px solid whitesmoke;
  width: calc(100vw - 80%);
  height: calc(100vh - 50%);
  overflow: auto;
  float:right;
  margin-left: auto;
}

#foot {
  text-align: center;
  background-color: rgb(33, 37, 41);
  color: whitesmoke;
  position: static;
  height: 50px;
  border-top: 2px solid #281c25;
  margin-top: 5px;
}